* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343d68;
  padding: 0 1em;
}
.logo {
  color: white;
  font-weight: bold;
}
.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.buttons button {
  padding: 0px 4px;
  font-weight: bold;
}
.buttons button:hover {
  background-color: #4052afaa;
  border: 3px solid;
}
.menu-btn img {
  width: 30px;
}
.menu-btn {
  background-color: white;
}
